{% extends 'milk/base.html' %}

{% block content %}
<main class="container">
    <div class="row pt-5">
        <div class="col">
            <h1>{{ post.title }}</h1>
            <p class="text-muted">{{ post.author }} &middot; {{ post.created }}
                {% if request.user.is_authenticated %}
                &middot; <a href="{% url 'milk:post_edit' post.id %}">Edit</a>
                {% endif %}
            </p>
            <section class="mt-5">
                {% autoescape off %}
                {{ post.body }}
                {% endautoescape %}
            </section>
        </div>
    </div>
</main>
{% endblock %}